body{
  display: flex;
  align-items: center;
  justify-content: center;
}
body h1{
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-40%,-50%);
  border: 2px solid burlywood;
  width: 250px;
  text-align: center;
  border-radius: 15px;
  padding:10px 0 ;
  background: cornsilk;
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  font-family: 'Courier New', Courier, monospace;
  color: sandybrown;
}
h2{
  padding-top: 2rem;
  color: sandybrown;
}
@media (max-width:450px){
  h2{
    font-size: 20px;
  }
  body h1{
    left: 45%;
  }
}
